.vscode
src/main
cli
src/docs/*.yaml
src/docs/*.json
src/generator
src/*.exe
src/server
src/.env
src/.env.dev
src/.env.prod
src/tmp
src/.air.toml
src/server.exe
src/go.sum
js-script
src/vendor
go.sum
*.sql
examples